%p
  ="Your password has been reset as requested. Here is your temporary login information:"
== Username: #{@profile.person.user.login}
%br
== Password: #{@password}
%p
  = link_to("Login to change your temporary password.", link_to(edit_admin_person_url(@profile.person.id)))